* {
  box-sizing: border-box;
}

body {
  color: black;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #088ca5;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
  margin: 0;
}

h1 {
  font-size: 300px;
}
@media (max-width: 550px) {
  h1 {
    font-size: 175px;
    padding-left: 14px;
    margin-bottom: -30px;
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 200px;
    padding-left: 14px;
    margin-bottom: -30px;
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 250px;
    padding-left: 20px;
    margin-bottom: -30px;
  }
}

h2 {
  display: flex;
  font-size: 225px;
  justify-content: flex-end;
}
@media (max-width: 590px) {
  h2 {
    font-size: 115px;
    justify-content: flex-start;
    padding-left: 40px;
  }
}
@media (max-width: 650px) {
  h2 {
    font-size: 145px;
    justify-content: flex-start;
    padding-left: 40px;
  }
}
@media (max-width: 790px) {
  h2 {
    font-size: 165px;
    justify-content: flex-start;
    padding-left: 40px;
  }
}

h3 {
  display: flex;
  font-size: 135px;
  justify-content: center;
}
@media (max-width: 600px) {
  h3 {
    font-size: 65px;
    justify-content: flex-start;
    padding-left: 40px;
  }
}
@media (max-width: 700px) {
  h3 {
    font-size: 75px;
    justify-content: flex-start;
    padding-left: 40px;
  }
}
@media (max-width: 980px) {
  h3 {
    font-size: 95px;
    justify-content: flex-start;
    padding-left: 40px;
  }
}

h4 {
  font-size: 75px;
  margin-left: 40px;
}
@media (max-width: 700px) {
  h4 {
    font-size: 55px;
    margin-left: 40px;
  }
}

h5 {
  font-size: 50px;
  margin-left: 40px;
}
@media (max-width: 700px) {
  h5 {
    font-size: 35px;
  }
}

.events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media (min-width: 500px) {
  .container {
    padding-right: 1px;
    padding-left: 1px;
  }
}
@media (min-width: 800px) {
  .container {
    padding: 32px;
  }
}
@media (min-width: 1280px) {
  .container {
    padding-right: 120px;
    padding-left: 120px;
  }
}

ul {
  list-style-type: none;
}

.event-list-one,
.event-list-two,
.event-list-three,
.event-list-four {
  font-size: 25px;
}
