* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #088ca5;
}


h1{
  color: white;
  font-size: 170px; //was 200
  margin: 0;
    
}

h2{
  color: white;
  font-size: 250px;
  margin: 0;
   
}

h3{
  color: white;
  font-size: 100px;
  margin: 0;   
  
}

h4{
  color: white;
  font-size: 50px;
  margin: 0;
    
}

h5{
  color: white;
  font-size: 25px;
  margin: 0;
    
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}


.container {
  padding: 18px;

  @media (min-width: 800px) {
    padding: 32px;
  }

  @media (min-width: 1280px) {
    padding-right: 40px;
    padding-left: 40px;
  }
}


ul {

list-style-type: none;
}

.moretype{
  font-size: 25px;
  
  
}
